<launch>

    <arg name="dual_tag_left" default="/dwm/node/8813" />
    <arg name="dual_tag_right" default="/dwm/node/5088" />

    <node name="pose_estimator_node" pkg="ips" type="pose_estimator_node.py" output="screen" clear_params="true">
        <param name="dual_tag_left" value="$(arg dual_tag_left)" /> 
        <param name="dual_tag_right" value="$(arg dual_tag_right)" /> 
    </node>

</launch>
